<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %> " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="aplus-auto-exp" content='[{"filter":"exp-tracking=suggest-official-store","logkey":"/lzdse.result.os_impr","props":["href"],"tag":"a"}]' />
    <meta name="data-spm" content="12anj4u" />
    <meta name="robots" content="index, follow" />
    <meta name="og:url" content="http://localhost<=% path %>" />
    <meta name="og:title" content="<%= title %>" />
    <meta name="og:type" content="product" />
    <meta name="og:description" content="<%= description %>" />
    <meta name="og:image" content="https://pub-aa53b9e180054f58a30f48d8b09eee24.r2.dev/%E0%B8%AD%E0%B8%B5%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A2.jpg" />
    <link rel="canonical" href="http://localhost<%= path %>" />
    <title><%= title %></title>
</head>
<body>
    
</body>
</html>